* {
  scroll-behavior: smooth;
}
.container {
  height: 70vh;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gif-container {
  border-radius: 100px;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
}

.btn {
  background-color: bisque;
  outline: none;
  border: none;
  margin: 10px;
  padding: 20px;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.title {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 767px) {
  * {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .gif-container {
    height: 400px;
  }
}
